Impeto.Exchange.Web/Service References/svcExchange/ImpetoExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImpetoExchangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IImpetoExchangeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://impetoexchange.azurewebsites.net/ImpetoExchangeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://impetoexchange.azurewebsites.net/ImpetoExchangeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://impetoexchange.azurewebsites.net/ImpetoExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Impeto.Framework.Exchange.Models" />
      <xsd:import schemaLocation="http://impetoexchange.azurewebsites.net/ImpetoExchangeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Exchange.WebServices.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeSalaReuniao_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniao" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeSalaReuniao_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniaoResponse" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniaoTimeZone" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniaoTimeZoneResponse" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeTimeZoneFull_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeTimeZoneFull" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeTimeZoneFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeTimeZoneFullResponse" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeExchange" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_obterDisponibilidadeExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_getBuildingRoomList_InputMessage">
    <wsdl:part name="parameters" element="tns:getBuildingRoomList" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_getBuildingRoomList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBuildingRoomListResponse" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_getRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:getRooms" />
  </wsdl:message>
  <wsdl:message name="IImpetoExchangeService_getRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="IImpetoExchangeService">
    <wsdl:operation name="obterDisponibilidadeSalaReuniao">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniao" message="tns:IImpetoExchangeService_obterDisponibilidadeSalaReuniao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniaoResponse" message="tns:IImpetoExchangeService_obterDisponibilidadeSalaReuniao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeSalaReuniaoTimeZone">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniaoTimeZone" message="tns:IImpetoExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniaoTimeZoneResponse" message="tns:IImpetoExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeTimeZoneFull">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeTimeZoneFull" message="tns:IImpetoExchangeService_obterDisponibilidadeTimeZoneFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeTimeZoneFullResponse" message="tns:IImpetoExchangeService_obterDisponibilidadeTimeZoneFull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeExchange" message="tns:IImpetoExchangeService_obterDisponibilidadeExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeExchangeResponse" message="tns:IImpetoExchangeService_obterDisponibilidadeExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBuildingRoomList">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpetoExchangeService/getBuildingRoomList" message="tns:IImpetoExchangeService_getBuildingRoomList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpetoExchangeService/getBuildingRoomListResponse" message="tns:IImpetoExchangeService_getBuildingRoomList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpetoExchangeService/getRooms" message="tns:IImpetoExchangeService_getRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpetoExchangeService/getRoomsResponse" message="tns:IImpetoExchangeService_getRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImpetoExchangeService" type="tns:IImpetoExchangeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterDisponibilidadeSalaReuniao">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeSalaReuniaoTimeZone">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniaoTimeZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeTimeZoneFull">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeTimeZoneFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeExchange">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBuildingRoomList">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/getBuildingRoomList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRooms">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/getRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IImpetoExchangeService" type="tns:IImpetoExchangeService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IImpetoExchangeService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterDisponibilidadeSalaReuniao">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeSalaReuniaoTimeZone">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeSalaReuniaoTimeZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeTimeZoneFull">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeTimeZoneFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeExchange">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/obterDisponibilidadeExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBuildingRoomList">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/getBuildingRoomList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRooms">
      <soap:operation soapAction="http://tempuri.org/IImpetoExchangeService/getRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpetoExchangeService">
    <wsdl:port name="BasicHttpBinding_IImpetoExchangeService" binding="tns:BasicHttpBinding_IImpetoExchangeService">
      <soap:address location="http://impetoexchange.azurewebsites.net/ImpetoExchangeService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IImpetoExchangeService" binding="tns:BasicHttpsBinding_IImpetoExchangeService">
      <soap:address location="https://impetoexchange.azurewebsites.net/ImpetoExchangeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>