Fusion.Exchange.SalaDeReuniao/Service References/svcExchange/FusionExchangeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FusionExchangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60767/FusionExchangeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60767/FusionExchangeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60767/FusionExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fusion.Framework.Exchange.Models" />
      <xsd:import schemaLocation="http://localhost:60767/FusionExchangeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Exchange.WebServices.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeSalaReuniao_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniao" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeSalaReuniao_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniaoResponse" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniaoTimeZone" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeSalaReuniaoTimeZoneResponse" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeTimeZoneFull_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeTimeZoneFull" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeTimeZoneFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeTimeZoneFullResponse" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeExchange" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_obterDisponibilidadeExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDisponibilidadeExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_getBuildingRoomList_InputMessage">
    <wsdl:part name="parameters" element="tns:getBuildingRoomList" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_getBuildingRoomList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBuildingRoomListResponse" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_getRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:getRooms" />
  </wsdl:message>
  <wsdl:message name="IFusionExchangeService_getRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFusionExchangeService">
    <wsdl:operation name="obterDisponibilidadeSalaReuniao">
      <wsdl:input wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeSalaReuniao" message="tns:IFusionExchangeService_obterDisponibilidadeSalaReuniao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeSalaReuniaoResponse" message="tns:IFusionExchangeService_obterDisponibilidadeSalaReuniao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeSalaReuniaoTimeZone">
      <wsdl:input wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeSalaReuniaoTimeZone" message="tns:IFusionExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeSalaReuniaoTimeZoneResponse" message="tns:IFusionExchangeService_obterDisponibilidadeSalaReuniaoTimeZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeTimeZoneFull">
      <wsdl:input wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeTimeZoneFull" message="tns:IFusionExchangeService_obterDisponibilidadeTimeZoneFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeTimeZoneFullResponse" message="tns:IFusionExchangeService_obterDisponibilidadeTimeZoneFull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeExchange" message="tns:IFusionExchangeService_obterDisponibilidadeExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeExchangeResponse" message="tns:IFusionExchangeService_obterDisponibilidadeExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBuildingRoomList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFusionExchangeService/getBuildingRoomList" message="tns:IFusionExchangeService_getBuildingRoomList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFusionExchangeService/getBuildingRoomListResponse" message="tns:IFusionExchangeService_getBuildingRoomList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IFusionExchangeService/getRooms" message="tns:IFusionExchangeService_getRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFusionExchangeService/getRoomsResponse" message="tns:IFusionExchangeService_getRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFusionExchangeService" type="tns:IFusionExchangeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterDisponibilidadeSalaReuniao">
      <soap:operation soapAction="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeSalaReuniao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeSalaReuniaoTimeZone">
      <soap:operation soapAction="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeSalaReuniaoTimeZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeTimeZoneFull">
      <soap:operation soapAction="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeTimeZoneFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDisponibilidadeExchange">
      <soap:operation soapAction="http://tempuri.org/IFusionExchangeService/obterDisponibilidadeExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBuildingRoomList">
      <soap:operation soapAction="http://tempuri.org/IFusionExchangeService/getBuildingRoomList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRooms">
      <soap:operation soapAction="http://tempuri.org/IFusionExchangeService/getRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FusionExchangeService">
    <wsdl:port name="BasicHttpBinding_IFusionExchangeService" binding="tns:BasicHttpBinding_IFusionExchangeService">
      <soap:address location="http://localhost:60767/FusionExchangeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>